html{
	cursor:none;
}
body{
	background-color: #000;
	cursor:none;
	overflow:hidden;
}
#content{
	-webkit-transition:opacity 1s;
	opacity:1.0;
	width:100%;
	height:100%;
	
}

video{
	width:100%;
	height:100%;
}
